.box {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

#passwordOutput {
  width: 150px;
}

#passwordLength {
  width: 100px;
}

#passwordButton {
  width: 110px;
  height: 40px;
  background-color: rgb(116, 56, 134);
  color: white;
}
