*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100%;
}

.loader-box {
    width: 100vw;
    height: 100vh;
    background: rgb(113, 14, 179);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    width: 100px;
}

.big-image{
    width: 100vw;
    height: 99.4vh;
}

