* {
  margin: 0;
  padding: 0;
}


.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: bisque;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form__input-error{
  border-color: red;
}
